@model ShowAndSellAPI.Models.EmailModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>

        body {
            background-color: lightgreen;
        }

        .title {
            text-align: center;
            margin: 0px;
            margin-bottom: 2px;
        }

        .center {
            display: block;
            margin: auto;
            padding: 10px;
        }

        .details {
            margin: 5px;
            background-color: gold;
        }
    </style>
</head>

<body>
    <!-- <img class="center" src="showandsell.png" /> -->
    <h1 class="title">Show &amp; Sell</h1>
    <h1 class="title">Purchase Receipt</h1>

    <div id="details" class="details">
        <!-- get image -->
        <img src="data:image/png;base64, @(Model.Item.Thumbnail)" alt="Red dot" />
    </div>
</body>
</html>

